table.tree-grid tr td{
	padding-top:8px !important;
	padding-bottom:8px !important;
	min-width: 100px;
}
table.tree-grid tr td input{
	width: 100px;
	text-align: right;
}
table.tree-grid tr td select{
    width: 100px;
    height: 24px;
}
.bootstrapWizard li{
	width: 16.66%;
}
.overflow-x-scroll{
	overflow-x:auto;
}
.tab-pane{
	min-height: 250px;
}
.margin-top-45{
	margin-top: 45px !important;
}
table.tree-grid tr th{
	min-width: 110px;
}
table.tree-grid tr.main-header th:first-child{
	min-width: 245px;
}
.padding-left-15{padding-left:15px !important;}
.tree-grid-type{
	height: 50px;
}
.table-costRevenue td,.table-costRevenue th{
	min-width:70px !important;
}
.table-costRevenue input{
	width:70px !important;
	text-align: right;
}
.costRevenue-fixedheader{
	height: 77px;
}
.level-0-CRG{
	min-height: 24px;
    padding-left: 5px;
}
#gpScenario{
	width: 90px;
    margin-left: 5px;
    display:inline;
}
.tree-grid .main-header th, .table-costRevenue .main-header th {
    background: #3276b1;
    color: #fff;
}

.grid-th {
	background: #3276b1;
    color: #fff;	
}
