/* Styles from merck start */
div.search-results >:first-child a {
    text-decoration: none;
}

div#search-body-parent {
 	color: #525152;
}

.white-bg {
	background: #FFFFFF;
}

.primary-color {
	color: #009899;
}

.primary-bg, div#searchConfigDrillDownModal div.modal-header {
	background: #009899;
	color: #FFFFFF;
}

.secondary-color {
	color: #F5F5F5;
}

.secondary-bg {
	color: #F5F5F5;
}

.large-font-color, .small-font-color {
	color: #525152;
}
/* Styles from merck end */

div.search-results a {
	color: #44697D;
	text-decoration: none;
}

div.search-results a:hover, div.search-results a:FOCUS  {
	color: #0000FF;
	text-decoration: underline;
}

div#search-body-parent table tbody tr:hover, 
div#search-body-parent table tbody tr:FOCUS, 
div#search-body-parent ul.entities li:HOVER, 
div#search-body-parent ul.entities li:FOCUS,
div#search-body-parent ul.entities li.active {
	background: #b8e7bc;
}

.search-result-summary {
	padding-left: 15px;
}

.search-result-summary span span{
	color: #525152;
}
