<div class="input-group input-group-md margin-bottom-20 padding-10">
						<input class="form-control input-md" type="text" placeholder="Search help..." id="search-faq">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<i class="fa fa-fw fa-search fa-lg"></i>
							</button>
						</div>
					</div>

<div class="headline">
	<h2>General Questions</h2>
	
</div>
<div class="panel-group acc-v1 margin-bottom-40" id="accordion">
</div>
<div id="loading"></div>
<script>FAQ()</script>