<div class="{{width}} chart-parent-div">
	<div class="jarviswidget {{widget-class}}"
		id="wid-id-datatable_{{idCounter}}"
		data-widget-fullscreenbutton="false">
		<header>
			<span class="widget-icon"><i class="fa fa-fw fa fa-table">
			</i></span>
			<h2>{{{table-header}}}</h2>
			<div class="widget-toolbar" role="menu" id="configure_{{idCounter}}">
				<a href="javascript:void(0);"
					class="btn bg-color-darken txt-color-white"><i
					class="fa fa-fw fa-modx"></i>Configure</a>
			</div>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox row">
				<div class="row">
					<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
						<input class="form-control" type="text"> <span
							class="note"><i class="fa fa-check text-success"></i>
							Title</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
						<input class="form-control" type="text" name="drilldowncallback"
							data-drilldowncallback=""> <span class="note"><i
							class="fa fa-check text-success"></i> Callback on cell click</span>
					</div>
					<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
						<input class="form-control" type="text" value="0"
							name="tableorderby" data-tableorderby="1"> <span
							class="note"> OrderBy</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-orderType"> <select
							name="tableordertype">
								<option value="desc" selected>DESC</option>
								<option value="asc">ASC</option>
								<option value="desc nulls last" selected>DESC NULL LAST</option>
								<option value="asc nulls last">ASC NULL LAST</option>
						</select> <i></i>
						</label><span class="note"> Type</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-width"> <select>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose
									Width</option>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12"
									selected>100%</option>
								<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
								<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
								<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Widget width</span>
					</div>
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2 smart-form">
						<label class="select select-serverType"> <select
							name="servertype">
								<option value="serverSide" selected>Server Side</option>
								<option value="clientSide">Client Side</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Render Type</span>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-4 col-xs-4 col-sm-4 col-lg-4 smart-form margin-top-10">
						<input type="text" class="form-control" name="tooltip"
							id="tooltip_{{idCounter}}" style="width: 100%" /> <span
							class="note"><i class="fa fa-check text-success"></i>
							Header Tooltip</span>
					</div>
					<div
						class="col-md-4 col-xs-4 col-sm-4 col-lg-4 smart-form margin-top-10">
						<input type="text" name="tableForDatatable"
							id="tableForDatatable_{{idCounter}}" style="width: 100%" /> <span
							class="note"><i class="fa fa-check text-success"></i>
							Change table</span>
					</div>
					<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 margin-top-10">
						<input class="form-control" type="text" name=defaulttablefilter>
						<span class="note"><i class="fa fa-check text-success"></i>Default
							Filter applied on Data Table</span>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-2 col-xs-2 col-sm-2 col-lg-3 smart-form margin-top-10">
						<label class="select select-editType"> <select
							name="editType">
								<option value="inline" selected>Inline</option>
								<option value="form">Form</option>
								<option value="actionForm">ActionForm</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Edit Type</span>
					</div>
					<div
						class="col-md-2 col-xs-2 col-sm-2 col-lg-3 smart-form margin-top-10">
						<label class="select select-fixedLeft"> <select
							name="fixedLeftColumn">
								<option value="" selected>None</option>
								<option value=1>1</option>
								<option value=2>2</option>
								<option value=3>3</option>
								<option value=4>4</option>
								<option value=5>5</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Fixed Left Columns</span>
					</div>
					<div
						class="col-md-2 col-xs-2 col-sm-2 col-lg-3 smart-form margin-top-10">
						<label class="select select-fixedRight"> <select
							name="fixedRightColumn">
								<option value="" selected>None</option>
								<option value=1>1</option>
								<option value=2>2</option>
								<option value=3>3</option>
								<option value=4>4</option>
								<option value=5>5</option>
						</select> <i></i>
						</label><span class="note"><i class="fa fa-check text-success"></i>
							Fixed Right Columns</span>
					</div>
					<div
						class="col-md-2 col-xs-2 col-sm-2 col-lg-3 margin-top-10">
							<input class="form-control" type="text" name="commentSectionName" data-commentSectionName=""> <span
							class="note"><i class="fa fa-check text-success"></i>
							Comment Section Name</span>
					</div>
				
					<div
						class="col-md-2 col-xs-2 col-sm-2 col-lg-10 margin-top-10">
							<input class="form-control" type="text" id="columnQuerySection" name="columnQuerySection" data-columnQuerySection=""> <span
							class="note">
							Column Query Section</span>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="isEditable"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Table Editable</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="isSelectAll"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable SelectAll</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="showAudit"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Show Audit Log</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="columninfo"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Column Info</label>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="enableAudit"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable Audit Log</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="enableAdd"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable Row Addition</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="enableHistory"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable History</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="enableBulkUpdate"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable Bulk Update</label>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="enableComments"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Enable Comments</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="hideNoOfRows"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Hide No. of Rows</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="hideShowHide"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Hide Show/hide</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="hidePagination"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Hide Pagination</label>
					</div>
					
					
				</div>
				<div class="row">
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="hideSearch"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Hide Search</label>
					</div>
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="hideFilter"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Hide Search Filter</label>
					</div>
					
					<div
						class="col-md-3 col-xs-3 col-sm-3 col-lg-3 col-md-15 smart-form margin-top-10">
						<label class="toggle"><input type="checkbox"
							name="isOverride"><i data-swchon-text="Yes"
							data-swchoff-text="No"></i>Override</label>
					</div>
					
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
						<input class="form-control" type="text" name="overrideFunction" id="overrideFunction"> <span class="note"><i
							class="fa fa-check text-success"></i> Override Function</span>
					</div>
					
					
					<div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
						<input class="form-control" type="text" name="formTitle" id="formTitle"> <span class="note"><i
							class="fa fa-check text-success"></i> Form Title</span>
					</div>
					
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10">
					<div class="panel panel-warning ">
						<div class="panel-heading">
							<label>Configure Actions</label>
							<div
								class=" smart-form floatRight col-md-1 col-xs-1 col-sm-1 col-lg-1">
								<select class="select_actions">
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
								</select> <i></i>
							</div>
							<div class="smart-form floatRight col-md-3 ">
								<select class="select_actioncolor width-145px showDropdown"
									name="actioncolorcode" placeholder="Select Color">
									<option value="btn-default">Default</option>
									<option value="btn-primary">Primary</option>
									<option value="btn-success">Success</option>
									<option value="btn-info">Info</option>
									<option value="btn-warning">Warning</option>
									<option value="btn-danger">Danger</option>
									<option value="btn-link">Link</option>
									<option value="bgBlue">Blue</option>
									<option value="bgGreen">Green</option>
									<option value="bgGrey">Grey</option>
									<option value="bgPink">Pink</option>
									<option value="bgBrown">Brown</option>
								</select> <i></i>
							</div>
							<div class="smart-form floatRight col-md-3">
								<select class="select_displaytype width-145px"
									name="actiondisplaytype">
									<option value="inline">Inline</option>
									<option value="dropdown">Drop Down</option>
								</select> <i></i>
							</div>
						</div>
						<div class="panel-body">
							<form id="actionPanelForm"></form>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10"
					name="historySection" style="display: none">
					<div class="panel panel-warning ">
						<div class="panel-heading">
							<label>History Section</label>
							<div class="smart-form floatRight col-md-3">
								<input type="text" class="width-100per" name="tableHistory"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											History Table</span>
							</div>
							<div class="smart-form floatRight col-md-3">
								<input type="text" class="form-control input-xs" name="tableHistoryAlias"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											History Table Alias</span>
							</div>
							<div class="smart-form floatRight col-md-3">
								<input type="text" class="form-control input-xs" name="tableMasterAlias"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											Masterdata Table Alias</span>
							</div>
						</div>
						<div class="panel-body">
							<div name="historyConfiguration" class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<input type="text" class="width-100per" name="primarykey"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											History Primary key</span>
									</div>
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<span >
											<input type="text" class="width-100per" name="foreginkey">
										</span>
										<span class="note width-100per"><i class="fa fa-check text-success"></i>
											History Foregin Key</span>
									</div>
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<span>
											<input type="text" class="width-100per" name="versionColumn"> 
										</span>
										<span class="note width-100per"><i class="fa fa-check text-success"></i>
											History Version Coulmn</span>
									</div>
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<span>
											<input type="text" class="width-100per" name="statusColumn"> 
										</span>
										<span class="note width-100per"><i class="fa fa-check text-success"></i>
											Status Coulmn</span>
									</div>
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<input type="text" class="width-100per" name="msourcelink"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											Master Source Link</span>
									</div>
									<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form margin-top-10">
										<input type="text" class="width-100per" name="hsourcelink"> <span
											class="note width-100per"><i class="fa fa-check text-success"></i>
											History Source Link</span>
									</div>
								</div>
								<div class="col-sm-12 col-xs-12" >
									<div class="col col-3 col-sm-3">
										<div class="padding-2">
											<strong>Main Columns</strong>
										</div>
									</div>
									<div class="col col-3 col-sm-3">
										<div class="padding-2">
											<strong>History Columns</strong>
										</div>
									</div>
									<div class="col col-3 col-sm-3">
										<div class="padding-2">
											<strong>History Columns Label</strong>
										</div>
									</div>
									<div class="col col-3 col-sm-3">
										<div class="padding-2">
											<strong>History Columns Html</strong>
										</div>
									</div>
									<div class="col-sm-12 margin-bottom-10"><input name="searchHistoryColumns" class="form-control" placeholder="Search Column"></div>
									<div name="historyColumnsMapping" class="row columnConfig connectedSortable">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="widget-body" class="backgroundcolorwidgetimp">

				<div class="row">

					<div id="DataTables_Table_{{idCounter}}_wrapper"
						class="dataTables_wrapper form-inline no-footer">
						<div class="dt-toolbar">
							<div class="col-xs-12 col-sm-6">
								<div id="DataTables_Table_{{idCounter}}_filter"
									class="dataTables_filter">
									<label><span class="input-group-addon"><i
											class="glyphicon glyphicon-search"></i></span> <input type="search"
										class="form-control" placeholder=""
										aria-controls="DataTables_Table_0"></label>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12 hidden-xs">
								<div class="dataTables_length"
									id="DataTables_Table_{{idCounter}}_length">
									<label><select name="DataTables_Table_0_length"
										aria-controls="DataTables_Table_0" class="form-control"><option
												value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
											<option value="100">100</option>
											<option value="500">500</option></select></label>
								</div>
							</div>
							
							<div class="col-sm-3 col-xs-12 hidden-xs">
								<div class="ColVis">
									<button class="ColVis_Button ColVis_MasterButton">
										<span>Show / hide columns</span>
									</button>
								</div>
							</div>
						</div>
						<div class="dataTables_scroll">
							<div class="dataTables_scrollHead"
								style="overflow: hidden; position: relative; border: 0px; width: 100%;">
								<div class="dataTables_scrollHeadInner"
									style="box-sizing: content-box; overflow: auto; padding-right: 0px;">
									<table
										class="table table-hover dc-data-table dataTable no-footer smart-form"
										role="grid">
										<thead>
											<tr class="header" role="row">
											</tr>
										</thead>
										<tfoot>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

