<div class="well col-sm-12 col-md-12 margin-bottom-10 padding-bottom-10">
	<div class="col col-2">
		<div class="note padding-2">
			<strong>Field</strong>
		</div>
		<label class="input">
			<input type="text" name="field" class="width-100per" tabindex="-1"></label>
	</div>
	<div class="col col-2">
		<div class="note padding-2">
			<strong>Display Name</strong>
		</div>
		<label class="input"><input type="text" name="displayname"></label>
	</div>
	<div class="col col-1">
		<label class="note padding-2"><strong>Type</strong></label><select
			class="form-control input-sm" name="fieldtype"><option
				value="TEXT">Text</option>
			<option value="DATE">Date</option>
			<option value="dynamicDate">Dynamic Date</option>
			<option value="NUM">Number</option>
			<option value="lookup">Look Up</option>
			<option value="select">Drop Down</option></select>
	</div>
	<div class="col col-4">
		<div class="note padding-2">
			<strong>Default Value</strong>
		</div>
		<label class="input" name="defaultvaluelabel"><input type="text" name="defaultvalue"></label>
	</div>
	<div class="col col-1">
		<div class="note">
			<strong>Invisible</strong>
		</div>
		<label class="toggle"><input type="checkbox" name="invisible"><i
			data-swchon-text="On" data-swchoff-text="Off"></i></label>
	</div>
	<div class="col col-1">
		<div class="note">
			<strong>Mandatory</strong>
		</div>
		<label class="toggle"><input type="checkbox"
			name="isMandatory"><i data-swchon-text="On"
			data-swchoff-text="Off"></i></label>
	</div>
	<div class="col col-1">
		<div class="note">
			<strong>Add</strong>
		</div>
		<i class="fa fa-md fa-fw fa-plus-square color-blue cursor-pointer"
			title="add link" name="addlink"></i><i
			class="fa fa-md fa-fw fa-remove txt-color-red cursor-pointer"
			title="remove link" name="removelink"></i>
	</div>
	<div class="col col-9" name="lookupdiv">
		<div class="note">
			<strong>Look Up Query</strong>
		</div>
		<label class="input"><input type="text" name="lookup"></label>
	</div>
	<div class="col col-1" name="lookupdiv">
		<div class="note">
			<strong>Select Type</strong>
		</div>
		<label class="input"><select class="input-sm"
			name="selecttype"><option value="">Multiple</option>
				<option value="true">Single</option></select></label>
	</div>
	<div class="col col-1">
		<div class="note">
			<strong>Search Type</strong>
		</div>
		<label class="input"><select class="input-sm"
			name="searchtype"><option value="in">In</option>
				<option value="not in">Not In</option>
				<option value="like">Like</option>
				<option value="not like">Not Like</option></select></label>
	</div>
	<div class="col col-1">
		<div class="note">
			<strong>Show Type</strong>
		</div>
		<label class="toggle"><input type="checkbox" name="innotin"><i
			data-swchon-text="On" data-swchoff-text="Off"></i></label>
	</div>
</div>