
<div class="flip">
	<div class="card">
		<div class="face front width-100per" name="front" title="Tooltip">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">
						<label class="checkbox col-sm-1"><input type="checkbox"
							name="selectedValue"><i class="margin-left-10"></i></label> <div
							name="panelFrontHeader"></div>
					</h3>
				</div>
				<div class="panel-body no-padding text-align-center">
					<div class="inner" style="min-height: 100px">
						<div>
							<div class="superbox-list"
								style="width: 90%; border: 1px solid rgb(204, 204, 204); margin: 2px;">
								
							</div>
						</div>
					</div>

				</div>
				<div class="panel-footer text-align-center" style="overflow: auto">
					<a name="filipedButton" href="javascript:void(0)"
						style="float: right;"><i class="fa fa-mail-forward"></i></a>
				</div>
			</div>

		</div>
		<div class="face back width-100per" name="back" style="display: none">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">
						<label class="checkbox col-sm-1"><input type="checkbox"
							name="selectedValue"><i class="margin-left-10"></i></label> <div
							name="panelBackHeader"></div>
					</h3>
				</div>
				<div class="panel-body no-padding text-align-center"
					style="min-height: 100px">
					<div class="inner text-center">
						<!-- <h3>Details View</h3> -->
						<div name="panelBackDetails"></div>
						<div name="editableSection">
							<div class="row margin-2">
								<strong class="col-sm-3 note">Status</strong> <label
									class="select col-sm-8"><select class="" name="status">
										<option value="Draft">Draft</option>
										<option value="Approved">Approved</option>
										<option value="Rejected">Rejected</option>
								</select><i></i> </label>
								<p name="status" style="display: none"></p>
							</div>
							<div class="row margin-2">
								<strong class="col-sm-3 note">Comment</strong> <label
									class="textarea textarea-resizable col-sm-8"> <textarea
										name="comments" class="custom-scroll"></textarea>

								</label>
								<p name="comments" style="display: none"></p>
							</div>
						</div>
					</div>

				</div>
				<div class="panel-footer text-align-center" style="overflow: auto">
					<a name="filipedButton" href="javascript:void(0)"
						style="float: right;"><i class="fa fa-mail-forward"></i></a>
				</div>
			</div>

		</div>
	</div>
</div>