<div class="{{width}} chart-parent-div">
	<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-HTMLTemplate_{{idCounter}}" data-widget-fullscreenbutton="false">
		<header>
			<span class="widget-icon"><i class="fa fa-fw fa fa-file"></i></span>
			<h2>{{table-header}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox row">
				<div class="row">
					<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
						<input class="form-control" type="text"> 
						<span class="note"><i class="fa fa-check text-success"></i> Title </span>
					</div>
					<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 smart-form">
						<label class="select select-width"> 
							<select>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose Width</option>
								<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12" selected>100%</option>
								<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
								<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
								<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
							</select>
						</label>
						<span class="note"><i class="fa fa-check text-success"></i> Widget width </span>
					</div>
					<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 col-md-15 smart-form">
						<label class="toggle">
							<input type="checkbox" name="contentLayout">
							<i data-swchon-text="Yes" data-swchoff-text="No"></i>
							Content Layout
						</label>
					</div>
					<section>
						<label class="input"> 
							<textarea name="HTMLTemplateContent_{{idCounter}}" style="width: 100%" placeholder="HTML Template Content" id="HTMLTemplateContent_{{idCounter}}" autofocus> HTML Template </textarea>
						</label>
					</section>
				</div>
			</div>
			<div class="widget-body" class="backgroundcolorwidgetimp">
				<div class="row">
					<div id="tableForHTMLTemplate_temp_{{idCounter}}" class="HTMLTemplate-div"></div>
				</div>
			</div>
		</div>
	</div>
</div>
