<div class="{{width}} chart-parent-div">
{{#if istemplate}} 
	<div class="jarviswidget {{header-color-class}}" id="{{id}}"
		{{#unless fullscreen}} 
		data-widget-fullscreenbutton="{{fullscreen}}"
		{{/unless }}
		>
		<header style="border-radius: 16px 16px 0 0;">
			<span class="widget-icon"> <i class="{{icon}}"> </i>
			</span>
			<h2>{{{header}}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox row">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
					<input class="form-control" type="text"> <span class="note"><i
						class="fa fa-check text-success"></i> Change title to update and
						save instantly!</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<label class="select select-width"> <select>
							<option value="col-md-12 col-sm-12  col-xs-12 col-lg-12">Choose Width</option>
							<option value="col-md-12 col-xs-12 col-sm-12 col-lg-12">100%</option>
							<option value="col-md-9 col-xs-9 col-sm-9 col-lg-9">75%</option>
							<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">50%</option>
							<option value="col-md-3 col-xs-3 col-sm-3 col-lg-3">25%</option>
					</select> <i></i>
					</label><span class="note"><i class="fa fa-check text-success"></i>
						Select width of widget</span>
				</div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 smart-form">
					<label class="select select-charts"> <select>
							<option value="0">No. of Chart</option>
							<option value="col-md-12 col-xs-12 col-sm-12 col-lg-12">1</option>
							<option value="col-md-6 col-xs-6 col-sm-6 col-lg-6">2</option>
							<option value="col-md-4 col-xs-6 col-sm-4 col-lg-4">3</option>
							<option value="col-md-3 col-xs-6 col-sm-3 col-lg-3">4</option>
							<option value="col-md-3 col-xs-6 col-sm-3 col-lg-3 col-md-15">5</option>
							<option value="col-md-2 col-xs-6 col-sm-3 col-lg-2">6</option>
					</select> <i></i>
					</label><span class="note"><i class="fa fa-check text-success"></i>
						Select No. of Charts to fit in this widget</span>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 smart-form margin-top-10">
					<input type="text" class="form-control" name="tooltip" id="tooltip_{{idCounter}}"
						style="width: 100%" /> <span class="note"><i
						class="fa fa-check text-success"></i> Header Tooltip</span>
				</div>
			</div>
			<div class="widget-body">
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 chart-div"><span class="dimension-placeholder"></span></div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 chart-div"><span class="dimension-placeholder"></span></div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 chart-div"><span class="dimension-placeholder"></span></div>
				<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 chart-div"><span class="dimension-placeholder"></span></div>
			</div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
	{{else}}
	<div class="{{widget-class}}" id="{{id}}"
		 data-widget-editbutton="false"
											data-widget-deletebutton="false"
											{{#unless fullscreen}} 
											data-widget-fullscreenbutton="false"
											{{/unless }}
											data-widget-sortable="false">
		<header>
			<div class="jarviswidget-ctrls" role="menu">
				<a href="#" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> 
			</div>
			<span class="widget-icon"> <i class="{{icon}}"> </i>
			</span>
			<h2 style= "font-size:2.3vh">{{{header}}}</h2>
		</header>
		<div style="background: #FFFFFF">
			<div class="jarviswidget-editbox">
			</div>
			<div class="widget-body">
			</div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
	{{/if}}
</div>