<section id="widget-grid" class="">
    <!-- row -->
    <div class="row" id="myProfilesConfig" displ>
        <div class="col-sm-12">
            <form id="frmSearchConfig" class="" novalidate="novalidate">
                <div class="col-sm-10">
                    <h3>Build Solr Query</h3>
                </div>
                <div class="col-sm-2 no-padding-left">
                    <div class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3" id="mySavedSearchProfile">
                        <h5>Saved Queries</h5>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="progress progress-micro ">
                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <input type="text" name="solrSchema" id="solrSchema" style="width: 100%" />
                </div>
                    </i>
                    <input type="text" name="source" id="source" style="width: 100%" />
                </div>
                <div class="col-sm-3">
                    </i>
                    <input type="text" name="database" id="database" style="width: 100%" />
                </div>
                <div class="col-sm-2">
                    </i>
                    <input type="text" name="searchTable" id="searchTable" style="width: 100%" />
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-primary" id="proceedSearch" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proceed</a>
                </div> -->
            </form>
        </div>
    </div>
    <!-- saved profile -->
    <div class="row" id="myProfiles">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h3>
                Saved Profile
                    <a class="btn btn-warning padding-left-20 pull-right" id="backToDesign" href="javascript:void(0);" title="Back to source selection"><i class="fa fa-mail-reply"></i> Back</a>
                </h3>
            </div>
            <div class="col-sm-12">
                <div class="progress progress-micro">
                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="well padding-10">
                    <h5 class="no-margin col-md-2">
                    Name
                </h5>
                    <h5 class="no-margin col-md-4">
                    Schema
                </h5>
                    <h5 class="no-margin col-md-4 ">
                    Description
                </h5>
                    <h5 class="no-margin col-md-1">
                </h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group no-margin cursor-pointer" id="myProfileList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row" id="querybuilder">
    <div class="col-sm-12 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-builder">
            <header>
                <span class="widget-icon no-min-height"> 
                    <i class="fa fa-lg fa fa-cog"></i>
                </span>
                <h2>Query Builder</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div id="query-config-area" style="margin-bottom: 10px">
                        <div class="row">
                            <section class="col-sm-3">
                                <label>Solr Collections</label>
                            </section>
                            <section class="col-sm-4">
                                <input type="text" class="form-control" id="solrSchema" />
                            </section>
                            <section>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-warning" id="btnExecuteSolr">Solr Query</button>
                                    <button type="submit" class="btn btn-primary" id="btnSaveQuery">Save</button>
                                </div>
                            </section>
                            <!-- <section class="col col-1">
                                    <label>Query Type</label>
                                </section>
                                <section class="col col-2">
                                    <strong id="lblQueryType"></strong>
                                </section> -->
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid #ccc">
                        <div class="col-sm-4" style="border-right: 1px solid #ccc">
                            <div id="query-builder-area">
                                <form class="smart-form queryBuilderForm" id="frmQueryBuilder">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Request-Handler (qt)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" value="/select" class="form-control" id="qt" data-map="qt" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 5px;">
                                        <div class="row">
                                            <h3>Common</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="progress progress-micro ">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Number of Rows(rows)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="number" value="10" class="form-control" id="rows" data-map="rows" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Query (q)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" id="q" data-map="q">*:*</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Sort</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="sort" data-map="sort" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Filter Query (fq)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="fq" data-map="fq" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Output Fields(fl)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="fl" data-map="fl" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Default Field (df)</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="df" data-map="df" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Raw Query Parameters</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="rawQuery" data-map="rawQuery" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-bottom: 5px;">
                                                <div class="progress progress-micro ">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <section class="col col-2">
                                            <label>Edismax</label>
                                        </div> -->
                                        <div class="col-sm-12">
                                            <div>
                                                <label class="toggle">
                                                    <input type="checkbox" id="isDismax" data-map="isDismax">
                                                    <i data-swchon-text="Yes" data-swchoff-text="No"></i> Edismax
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row subHeader" id="dismax" style="margin: 0px; display: none;">
                                        <section class="col-sm-10">
                                            <div class="row">
                                                <div class="row" style="margin-top: 5px;">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro ">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Q.Alt (q.alt)</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="qalt" data-map="q.alt" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>qf</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="qf" data-map="qf" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>mm</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="mm" data-map="mm" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>pf</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="pf" data-map="pf" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>ps</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ps" data-map="ps" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>qs</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="qs" data-map="qs" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>tie</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="tie" data-map="tie" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>bq</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="bq" data-map="bq" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>bf</label>
                                                </div>
                                                <!-- <section class="col col-1">
                                            <label>bf</label>
                                        </section>
                                        <section class="col col-3">
                                            <input type="text" class="form-control" id="bf" data-map="bf" />
                                        </section> -->
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="bf" data-map="bf" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>uf</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="uf" data-map="uf" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>pf2</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="pf2" data-map="pf2" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>pf3</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="pf3" data-map="pf3" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>ps2</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ps2" data-map="ps2" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>ps3</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ps3" data-map="ps3" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>boost</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="boost" data-map="boost" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>ps3</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="ps3" data-map="ps3" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>boost</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" id="boost" data-map="boost" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="toggle">
                                                        <input type="checkbox" id="stopwords" data-map="stopwords">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i> stopwords
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="toggle">
                                                        <input type="checkbox" id="lowercaseOperators" data-map="lowercaseOperators">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i> lowercaseOperators
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 5px;">
                                                        <div class="progress progress-micro ">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label class="toggle">
                                                <input type="checkbox" id="isHl" data-map="isHl">
                                                <i data-swchon-text="Yes" data-swchoff-text="No"></i> Highlight(hl)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row subHeader" id="hl" style="margin: 0px; display: none;">
                                        <section class="col col-10">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro " style="margin-top: 5px;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>Highlight Fields(hl.fl)</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="hlfl" data-map="hl.fl" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>hl.simple.pre</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="hlsimplepre" data-map="hl.simple.pre" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>hl.simple.post</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="hlsimplepost" data-map="hl.simple.post" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="hlrequireFieldMatch" data-map="hl.requireFieldMatch">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i> hl.requireFieldMatch
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="hlusePhraseHighlighter" data-map="hl.usePhraseHighlighter">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i> hl.usePhraseHighlighter
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="hlhighlightMultiTerm" data-map="hl.highlightMultiTerm">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i> hl.highlightMultiTerm
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12" style="margin-bottom: 5px;">
                                                        <div class="progress progress-micro ">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section>
                                            <div class="row">
                                                <label class="toggle">
                                                    <input type="checkbox" id="isFacet" data-map="isFacet">
                                                    <i data-swchon-text="Yes" data-swchoff-text="No"></i>Facet
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row subHeader" id="facet" style="margin: 0px; display: none;">
                                        <section class="col col-10">
                                            <div class="row">
                                                <div class="row" style="margin-top: 5px;">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro ">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>facet.query</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="facetquery" data-map="facet.query" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>facet.field</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="facetfield" data-map="facet.field" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>facet.prefix</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="facetprefix" data-map="facet.prefix" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="row" style="margin-bottom: 5px;">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro ">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section>
                                            <div class="row">
                                                <label class="toggle">
                                                    <input type="checkbox" id="isSpatial" data-map="isSpatial">
                                                    <i data-swchon-text="Yes" data-swchoff-text="No"></i>spatial
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row subHeader" id="spatial" style="margin: 0px; display: none;">
                                        <section class="col col-10">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro " style="margin-top: 5px;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>pt</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="pt" data-map="pt" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>sfield</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="sfield" data-map="sfield" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>d</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="d" data-map="d" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro " style="margin-bottom: 5px;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section>
                                            <div class="row">
                                                <label class="toggle">
                                                    <input type="checkbox" id="isSpellCheck" data-map="isSpellCheck">
                                                    <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="row subHeader" id="spellcheck" style="margin: 0px; display: none;">
                                        <section class="col col-10">
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro " style="margin-top: 5px;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.q</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckq" data-map="spellcheck.q" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.dictionary</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckdictionary" data-map="spellcheck.dictionary" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.maxCollations</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckmaxCollations" data-map="spellcheck.maxCollations" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.maxCollationTries</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckmaxCollationTries" data-map="spellcheck.maxCollationTries" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.count</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckcount" data-map="spellcheck.count" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label>spellcheck.accuracy</label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <input type="text" class="form-control" id="spellcheckaccuracy" data-map="spellcheck.accuracy" />
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="spellcheckbuild" data-map="spellcheck.build">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck.build
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="spellcheckreload" data-map="spellcheck.reload">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck.reload
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="spellcheckonlyMorePopular" data-map="spellcheck.onlyMorePopular">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck.onlyMorePopular
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="spellcheckextendedResults" data-map="spellcheck.extendedResults">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck.extendedResults
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <section>
                                                    <label class="toggle">
                                                        <input type="checkbox" id="spellcheckcollate" data-map="spellcheck.collate">
                                                        <i data-swchon-text="Yes" data-swchoff-text="No"></i>spellcheck.collate
                                                    </label>
                                                </section>
                                            </div>
                                            <div class="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="progress progress-micro " style="margin-bottom: 5px;">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-8" style="overflow: auto; border-left: 1px solid #ccc">
                            <div id="queryDiv" style="border: 1px solid #ccc"></div>
                            <pre id="resultJson" style="display: none"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog width-500">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Profile Details</h4>
            </div>
            <form class="" id="frmSearchModal">
                <div class="modal-body no-padding">
                    <div action="" id="smart-form-register" class="smart-form " novalidate="novalidate">
                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="profilename" id="profilename" placeholder="Profile name"> <b class="tooltip tooltip-bottom-right">Needed to enter the
                                        Profile display name</b>
                                </label>
                            </section>
                            <section>
                                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="description" id="description" placeholder="Description"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the Description</b>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSaveSearch">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="loading"></div>
<script src="js/SearchConfig/queryBuilder.js"></script>
<script src="js/SearchConfig/searchConfig.js"></script>
