<div id="searchSelector">
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row" id="myProfilesConfig">
            <div class="col-sm-12">
                <form id="frmSearchConfig" class="" novalidate="novalidate">
                    <div class="col-sm-10">
                        <h3>Select database and table</h3>
                    </div>
                    <div class="col-sm-2 no-padding-left">
                        <div class="btn well well-sm bg-color-blueLight txt-color-white text-center margin-bottom-3" id="mySavedSearchProfile">
                            <h5>Saved Search Profile</h5>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="progress progress-micro ">
                            <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="solrSchema" id="solrSchema" style="width: 100%" />
                    </div>
                    <!-- <div class="col-sm-2">
                    </i>
                    <input type="text" name="searchType" id="searchType" style="width: 100%" />
                </div> -->
                    <div class="col-sm-2">
                        </i>
                        <input type="text" name="source" id="source" style="width: 100%" />
                    </div>
                    <div class="col-sm-3">
                        </i>
                        <input type="text" name="database" id="database" style="width: 100%" />
                    </div>
                    <div class="col-sm-2">
                        </i>
                        <input type="text" name="searchTable" id="searchTable" style="width: 100%" />
                    </div>
                    <div class="col-sm-1">
                        <!-- <a class="btn btn-primary" id="saveSearch" data-toggle="modal"><i class="fa fa-save"></i> Save</a> -->
                        <a class="btn btn-primary" id="proceedSearch" data-toggle="modal"><i class="fa fa-arrow-right"></i> Proceed</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- saved profile -->
        <div class="row" id="myProfiles">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <h3>
                Saved Profile
                    <a class="btn btn-warning padding-left-20 pull-right" id="backToDesign" href="javascript:void(0);" title="Back to source selection"><i class="fa fa-mail-reply"></i> Back</a>
                </h3>
                </div>
                <div class="col-sm-12">
                    <div class="progress progress-micro">
                        <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 100%;"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="well padding-10">
                        <h5 class="no-margin col-md-2">
                    Name
                </h5>
                        <h5 class="no-margin col-md-4">
                    Schema
                </h5>
                        <h5 class="no-margin col-md-2">
                    Search Source
                </h5>
                        <h5 class="no-margin col-md-4 ">
                    Description
                </h5>
                        <h5 class="no-margin col-md-1">
                </h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-group no-margin cursor-pointer" id="myProfileList">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="profileConfig" style="display: none">
    <div id="profileEdit">
        <div class="row">
            <div class="col-sm-12">
                <article class="sortable-grid ui-sortable">
                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                        <header>
                            <span class="widget-icon"><i
                                        class="fa fa-fw fa-search"> </i></span>
                            <h2 id="sourceTableDesc">Solr Indexer</h2>
                            <a class="btn btn-warning pull-right" id="searchBack" href="javascript:void(0);" title="Back to table selection">
                                <i class="fa fa-mail-reply"></i> Back
                            </a>
                        </header>
                        <div class="widget-body">
                            <div class="row" id="advancedconfig" style="display: none;">
                                <div class="col-sm-12 sortable-grid ui-sortable">
                                    <!-- Widget ID (each widget will need unique ID)-->
                                    <div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-filter">
                                        <header>
                                            <span class="widget-icon no-min-height"> <i
                                                            class="fa fa-lg fa fa-filter"></i>
                                                        </span>
                                            <h2>Solr Index</h2>
                                        </header>
                                        <div>
                                            <div class="jarviswidget-editbox"></div>
                                            <div class="widget-body">
                                                <div id="advancedconfig-area">
                                                </div>
                                                <div class="widget-body" style="min-height: 0px;" id="filter-solr">
                                                	<div class="col-sm-12 sortable-grid ui-sortable">
                                                		<div class="jarviswidget jarviswidget-color-blueDark " id="wid-id-solr-filter">
                                                		 <header>
                                            				<span class="widget-icon no-min-height"> <i
                                                         		   class="fa fa-lg fa fa-filter"></i>
                                                       		 </span>
                                            				<h2>Filter Solr Index</h2>
                                        					</header>
                                        					<div>
                                        					<div class="jarviswidget-editbox"></div>
                                            					<div class="widget-body" style="min-height: 0px;">
                                            						<div>
                                            							<div class="row">
                                            								<div class="col-sm-2">Filter Column</div>
                                            								<div class="col-sm-3"><input type="text" style="width: 100%" id="filter-column" /></div>
                                            								<div class="col-sm-1">Column Type</div>
                                            								<div class="col-sm-2"><input type="text" style="width: 100%" id="filter-column-type" /></div>
                                            								<div class="col-sm-1">Filter Value</div>
                                            								<div class="col-sm-2"><input type="text" style="width: 100%" id="filter-column-value" /></div>
                                            							</div>
                                            						</div>
                                            					</div>
                                        					</div>
                                                		</div>
                                                	</div>
                                                </div>
                                                <div id="filter-btn-cfg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog width-500">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Profile Details</h4>
            </div>
            <form class="" id="frmSearchModal">
                <div class="modal-body no-padding">
                    <div action="" id="smart-form-register" class="smart-form " novalidate="novalidate">
                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="profilename" id="profilename" placeholder="Profile name"> <b class="tooltip tooltip-bottom-right">Needed to enter the
                                        Profile display name</b>
                                </label>
                            </section>
                            <section>
                                <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                    <textarea rows="4" name="description" id="description" placeholder="Description"></textarea> <b class="tooltip tooltip-bottom-right">Needed to enter the Description</b>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="btnSaveSearch">Save</button>
                        </footer>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div id="loading"></div>
<script src="js/SearchConfig/solrIndexer.js"></script>
<script src="js/SearchConfig/searchConfig.js"></script>

