<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
			<!-- 	<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>Actions</h2>
					<ul class="demo-btns">
						<li><a href="#" id="smart-mod-eg1"
							class="btn btn-success pull-right"
							data-target='#myModalthredlevel' data-toggle='modal' onclick="ActionReport.CreateView()"><i class="fa fa-plus"></i> Create
								Action</a></li>
					</ul>
				</header> -->



				<!-- widget content -->
				<div class="widget-body" class="backgroundcolorwidgetimp">
		<!-- 			<div class="row">

						<table class="table table-striped table-hover dc-data-table">
							<thead>
								<tr class="header">

									<th>Action Id</th>
									<th>Action Key</th>
									<th>Display Name</th>
									<th>Parent</th>
									<th>Icon</th>
									<th>Sequence</th>
									<th>Related WO Type</th>
									<th>Related WO Type Desc</th>
									<th>Enabled</th>
									<th style="width: 100px"></th>
								</tr>
							</thead>
						</table>
					</div> -->
			
			<!-- <label class="checkbox"> 
				<input type="checkbox" name="dataObfuscation" id="dataObfuscation"> <i></i>Data Obfuscation
			</label>	
			 -->
			<br/>
			<button type="submit" class="btn btn-primary" id="btnSave">Refresh App Properties</button>	
					
				</div>
			</div>
		</article>
	</div>
</section>
<!--
<div id="loading"></div> -->

<!-- end widget grid -->

<!-- <div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Action Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body no-padding">
					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
							<input type="hidden" id="actionid">
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="action" placeholder="Action Key">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Action key</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="displayname"
									placeholder="Action Display Name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Action Display Name</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="parent" placeholder="Parent Action Id">
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Parent Action Id</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="icon" placeholder="Icon"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Icon</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="sequence"
									placeholder="Order of Display"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Display Order</b>
								</label>
							</section>
							<section>
								<select multiple
									name="sources" id="sources" style="width: 470px" multiple="multiple"
									class="required" title="Please select at least one Source"
									required>
									<option value="SAP">SAP</option>
									<option value="JDE">JDE</option>
									<option value="GP">GP</option>
									<option value="BPCS">BPCS</option>
								</select>
							</section>
							<section>
								<label class="checkbox"> <input type="checkbox"
									name="userEnabled" id="userEnabled"> <i></i>Enable
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
						</footer>
					</div>

				</div>
			</form>
		</div>
		/.modal-content
	</div>
	/.modal-dialog
</div> -->
<!-- end widget grid -->

<script src="js/Report/DataObfuscation.js"></script>