<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>SO Reports</h2>
					<!--<ul class="nav nav-tabs pull-right in" id="myTab">
						 <li class="active" onClick="javascript:SOReportObject.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li onClick="SOReportObject.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
					</ul> -->
				</header>

					

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-5" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-togglebutton="false">
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Detail view</h2>
												<div>
													<div class="dc-data-count">
														<span class="filter-count"></span> selected out of <span
															class="total-count"></span> records | <a
															href="javascript:dc.filterAll(); dc.renderAll();">Reset
															All</a>
													</div>
												</div>
											</header>
											<div>
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row padding-top-30">

														<table class="table table-hover dc-data-table">
															<thead>
																<tr class="header">
																	
																	<th>SO Type</th>
																	<th>SO Type Desc</th>
																	<th>Related SO Type</th>
																	<th>Related SO Type Desc</th>
																	<th>SO Count</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
												<!--  <div class="alert alert-info fade in">
													<button data-dismiss="alert" class="close">x</button>
													<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
													&nbsp; Drill down table displays only top 100 records. Use
													the export option to download all matching records.
												</div>-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
			</div>
		</article>
	</div>

</section>
<!-- end widget grid -->
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id = "btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id = "btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">Purchase Order Detail
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->

<script src="js/Report/SOOthersReport.js"></script>