<style>
#timeline-chart g.y {
	display: none;
}
</style>
<!-- widget grid -->

	<div class="row">
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false" data-widget-deletebutton="false"
				data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-bar-chart-o">
					</i></span>
					<h2>System Profiling</h2>
					<ul class="nav nav-tabs pull-right in" id="myTab">
						<!-- <li class="active" data-source="SAP" onClick="systemMapProfiling.Load('SAP')"><a
							data-toggle="tab" href="#mainDivId"><i class="fa fa-gears"></i>
								<span class="hidden-mobile hidden-tablet">SAP</span></a></li>

						<li data-source="JDE" onClick="systemMapProfiling.Load('JDE')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-gear"></i> <span
								class="hidden-mobile hidden-tablet">JDE</span></a></li>
								<li onClick="systemMapProfiling.Load('GP')"><a data-toggle="tab"
							href="#mainDivId"><i class="fa fa-plane"></i> <span
								class="hidden-mobile hidden-tablet">GP</span></a></li> -->
					</ul>
				</header>
				<div class="backgroundcolorwidgetimp">
					<section id="widget-grid" class="">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body" class="backgroundcolorwidgetimp">
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in no-padding-bottom"
								id="materialgroup">
								<div class="row" id="mainDivId">
									<div class="col-md-3">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-3" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false"
											>

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Senders</h2>

											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">

													<div id="sender-row-chart">

														<a class="reset"
															href="javascript:systemMapProfiling.shorzBarChart.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>

												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>
										<!-- end widget -->
									</div>
									<div class="col-md-6">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="getWidth jarviswidget jarviswidget-color-light "
											id="wid-id-2" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>System Map Dimensions</h2>

											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">


													<!--    <a class="reset" href="javascript:pieChartVendor.filterAll();dc.redrawAll();"
			           style="display: none;">reset</a>		-->
													<div id="pie-chart-direct" class="col-md-4" align="center">
														<!-- <span>Direct Type</span>  -->
														<div class="axisLabel">Direct Type</div><a class="reset"
															href="javascript:systemMapProfiling.pieChartDirect.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>



													<div id="pie-chart-status" class="col-md-4" align="center">
													<div class="axisLabel">Status</div>
														<!-- <span>Status</span>  --><a class="reset"
															href="javascript:systemMapProfiling.pieChartStatus.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>

													<div id="pie-chart-Message" class="col-md-4" align="center">
													<div class="axisLabel">Message Type</div>
														<!-- <span>Message Type</span> --> <a class="reset"
															href="javascript:systemMapProfiling.pieChartMessage.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>

														<div class="clearfix"></div>
													</div>
													<div class="clearfix"></div>

													<div class="row">
														<div id="timeline-area-chart">

															<span class="reset" style="display: none;">range:
																<span class="filter"></span>
															</span> <a class="reset"
																href="javascript:systemMapProfiling.timelineAreaChart.filterAll();systemMapProfiling.timelineChart.filterAll();dc.redrawAll();"
																style="display: none;">reset</a>

															<div class="clearfix"></div>
														</div>
													</div>
													<div class="row">
														<div id="timeline-chart"></div>
													</div>
												</div>
												<!-- end widget content -->

											</div>
											<!-- end widget div -->

										</div>

									</div>
									<div class="col-md-3">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-1" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											data-widget-sortable="false"
											>

											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Receivers</h2>

											</header>

											<!-- widget div-->
											<div>

												<!-- widget edit box -->
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->

												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">

													<div id="receiver-row-chart">

														<a class="reset"
															href="javascript:systemMapProfiling.rhorzBarChart.filterAll();dc.redrawAll();"
															style="display: none;">reset</a>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							<div class="row">
									<div class="col-md-12">
										<!-- Widget ID (each widget will need unique ID)-->
										<div class="jarviswidget jarviswidget-color-light "
											id="wid-id-6" data-widget-editbutton="false"
											data-widget-deletebutton="false"
											data-widget-fullscreenbutton="false"
											>
											<header>
												<span class="widget-icon"><i
													class="fa fa-fw fa-bar-chart-o"> </i></span>
												<h2>Detail view</h2>
												<div>
															<div class="dc-data-count">
																<!-- <span class="filter-count"></span> selected out of <span
																	class="total-count"></span> records |  --><a
																	href="javascript:dc.filterAll(); dc.renderAll();">Reset
																	All</a>
															</div>
														</div>
											</header>
											<div>
												<div class="jarviswidget-editbox">
													<!-- This area used as dropdown edit box -->
												</div>
												<!-- end widget edit box -->

												<!-- widget content -->
												<div class="widget-body">
													<div class="row hideFilter" style="">
														
														<table class="table table-hover dc-data-table">
															<thead>
																<tr class="header">
																	<th></th>
																	<th>Doc Count</th>
																	<th>Message Type</th>
																	<th>Message Type Name</th>
																	<th>Idoc Status</th>
																	<th>Idoc Status Name</th>
																	<th>Direction</th>
																	<th>Receiver</th>
																	<th>Receiver Partner No.</th>
																	<th>Receiver Partner Type</th>
																	<th>Sender</th>
																	<th>Sender Partner No.</th>
																	<th>Sender Partner Type</th>
																	<th>Created On</th>
																</tr>
															</thead>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				</div>
			</div>
			<div id="loading"></div>
		</article>
	</div>
<div class="modal fade" id="myModalthredlevel" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content" id="printView">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<div class="pull-right" style="margin-right: 10px;">
					<button type="button" class="btn btn-primary " id = "btnSaveL3">Save</button>
					<button type="button" class="btn btn-danger " id = "btnPrintL3">Print</button>
				</div>
				<h4 class="modal-title" id="myModalLabel">System Document
					View</h4>
			</div>
			<form id="frmSankeyFilter" class="">
				<div class="modal-body">

					<div id="poDocView"></div>

				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- end widget grid -->
<script src="js/Profiling/e2e_SystemMap.js"></script>