<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
		
			<div class="row">
				<div class="col-md-12">
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-light " id="wid-id-1"
						data-widget-editbutton="false" data-widget-colorbutton="true"
						data-widget-deletebutton="false"
						data-widget-fullscreenbutton="false">
						
						<header>
							<span class="widget-icon"> <i
								class="glyphicon glyphicon-stats txt-color-darken"></i>
							</span>
							<h2>Distribution Analysis</h2>
							
							<h2 class="pull-right">
								<div class="showAll"
									onClick="panZoomsvgObject.resetZoom();$(this).hide();">Reset
									Zoom</div>
							</h2>
						</header>
						<div>
						<div class="row">
							<div class="col-md-11">
							<section class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 " >
						<input type="text"	name="secEntity" id="secEntity"
								placeholder="Select Entity"  class="show"/>
							</section>
							<section class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<input type="hidden"	name="secDimension" id="secDimension"
								placeholder="Select Dimension" />
							</section>
							<section class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<input type="hidden"	name="secCalculation" id="secCalculation"
								placeholder="Select Calculation Type" class="hide"/>
							</section>
							<section class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
						<input type="hidden"	name="secField" id="secField"
								placeholder="Select Calculation Field" class="hide"/>
							</section>
							
							</div>
							<div class="col-md-1">
									<label  class="btn btn-default btn-sm hide" id="labelSearch" onclick="materialDistribution.loadViewType()" >
									<i class="fa fa-search "></i>
									</label>
							</div>
							
						</div>
								<br>
						</div>
							<div class="jarviswidget-editbox"></div>
							<div class="widget-body">
								<div id="myTabContent" class="tab-content">
								
						
	<!-- 							<div id="getByChoice" class="btn-group pull-right padding10"
										data-toggle="buttons">

										<label style="width: 100px;"
											onClick="materialDistribution.loadViewType('materialgroup')"
											class="btn btn-default btn-sm active materialGroup"
											data-source="materialgroup"> <input type="radio"
											name="checkbox-style" id="checkbox-style-1" value="switch-1"><i>Material
												Group</i>
										</label> <label
											onClick="materialDistribution.loadViewType('materialdist')"
											class="btn btn-default btn-sm materialDist"
											data-source="materialdist"> <input type="radio"
											name="checkbox-style" id="checkbox-style-2" value="switch-2">
											<i>Material</i>
										</label>

									</div> -->
									<div class="widget-body-toolbar bg-color-white row hide"
										id="rev-toggles-1">
										<div class="col-xs-6 col-sm-6"> <span class="text" id="chatyType"> Material Group Filtered <span class="pull-right" id="chatvalue">130/200</span> </span>
												<div class="progress">
													<div class="progress-bar bg-color-blueDark" style="width: 65%;" id="chartPercentage"></div>
												</div> </div>
												<div  class="col-xs-6 col-sm-6">
												
												</div>
												
										<div class="col-lg-12 form-group no-padding-bottom">
											<input id="range-slider-1" type="text" name="range_1"
												value="">
										</div>
									</div>
									
									<div class="tab-pane fade active in " id="materialgroup">
																		<div id="results" class="col-md-6"></div>
									</div>
									</div>
									<div class="tab-pane fade" id="material">

									</div>
									<!-- <div class="alert alert-info fade in">
										<button data-dismiss="alert" class="close">x</button>
										<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
										&nbsp;Analytics based on Top 100 Material Group on Order
										Quantity.
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<div id="loading"></div>
		</article>
	</div>
</section>
<script src="js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
<script src="js/DynamicProfiling/DynamicProfiling.js"></script>