<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-blueLight"
				id="wid-id-header" data-widget-editbutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"><i class="fa fa-fw fa-cloud">
					</i></span>
					<h2>nGram Analyser</h2>
					<div class="widget-toolbar" role="menu">
						<span class="onoffswitch-title"><i
							class="fa fa-location-arrow"></i> Pan / Zoom</span> <span
							class="onoffswitch"> <input type="checkbox"
							name="onoffswitch" class="onoffswitch-checkbox"
							id="myonoffswitch" onchange="nGramAnalyser.enablePanZoom(this)"> <label
							class="onoffswitch-label" for="myonoffswitch"> <span
								class="onoffswitch-inner" data-swchon-text="ON"
								data-swchoff-text="OFF"></span> <span class="onoffswitch-switch"></span>
						</label>
						</span>
						<div class="btn-group">
							<button class="btn dropdown-toggle btn-xs btn-warning"
								data-toggle="dropdown" aria-expanded="false" id="nGrambutton"
								value=2>
								Bi-grams <i class="fa fa-caret-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" id="nGramSelect">
								<li value="1"><a href="javascript:void(0);">Uni-grams</a></li>
								<li value="2"><a href="javascript:void(0);">Bi-grams</a></li>
								<li value="3"><a href="javascript:void(0);">Tri-grams</a></li>
								<li value="4"><a href="javascript:void(0);">4-grams</a></li>
								<li value="5"><a href="javascript:void(0);">5-grams</a></li>
							</ul>
						</div>
						
					</div>
				</header>
				<div class="widget-body backgroundcolorwidgetimp">
					<form action="" class="smart-form" id="nGramform">
						<fieldset class="hide" id="fieldsetCloud">
							<section>
								<div id="cloud"></div>
							</section>
						</fieldset>
					</form>
				</div>
			</div>
		</article>
	</div>
</section>
<div id="loading"></div>
<script src="js/plugin/d3.layout.cloud.js"></script>
<script src="js/nGram/nGramAnalyserNonDictionary.js"></script>