<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-12">
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-light " id="wid-id-10"
						data-widget-editbutton="false" data-widget-colorbutton="true"
						data-widget-deletebutton="false"
						data-widget-fullscreenbutton="false">
						<header>
							<span class="widget-icon"> <i
								class="glyphicon glyphicon-stats txt-color-darken"></i>
							</span>
							<h2>Token Analysis Exact Search</h2>

							<ul class="nav nav-tabs pull-right in" id="myTab">
								<li class="active"
									onClick="javascript:tokenAnalysisVisualization.LoadMaterialGroup('SAP')"
									data-source="SAP"><a data-toggle="tab"
									href="#materialgroup"><i class="fa fa-gears"></i> <span
										class="hidden-mobile hidden-tablet">SAP</span></a></li>

								<li data-source="JDE"
									onClick="javascript:tokenAnalysisVisualization.LoadMaterialGroup('JDE')"><a
									data-toggle="tab" href="#materialgroup" id="tabMaterial"><i
										class="fa fa-gear"></i> <span
										class="hidden-mobile hidden-tablet">JDE</span></a></li>
								<li
									onClick="javascript:tokenAnalysisVisualization.LoadMaterialGroup('GP')"><a
									data-toggle="tab" href="#mainDivId"><i class="fa fa-plane"></i>
										<span class="hidden-mobile hidden-tablet">GP</span></a></li>
							</ul>
						</header>
						<div class="paddingtop0">
							<div class="jarviswidget-editbox"></div>
							<div class="widget-body">
								<div id="loading"></div>
								<div id="myTabContent" class="tab-content">
									<div class="row backgroundcolorwidgetimp padding10">
										<div class="col-md-4">

											<form id="searchForm">
												<div class="input-group m-bottom-md">
													<input type="search" autocomplete="on"
														placeholder="Enter Exact Token here..."
														class="form-control" id="searchterm"> <span
														class="input-group-btn">
														<button type="submit" class="btn bg-color-blue"
															id="search">
															<i class="fa fa-search"></i>
														</button>
													</span>
												</div>
											</form>
										</div>
										<div class="col-md-8">
											<div id="getGroupBy" class="btn-group pull-right hide "
												data-toggle="buttons">
												<label style="width: 100px;"
													onClick="javascript:tokenAnalysisVisualization.loadGroupBy('sum')"
													class="btn btn-default btn-sm active materialGroup"
													data-source="1"> <input type="radio"
													name="checkbox-style" id="checkbox-style-1"
													value="switch-1"><i>Sum</i>
												</label> <label
													onClick="tokenAnalysisVisualization.loadGroupBy('Distinct')"
													class="btn btn-default btn-sm materialDist"
													data-source="2"> <input type="radio"
													name="checkbox-style" id="checkbox-style-2"
													value="switch-2"> <i>Distinct</i>
												</label>
											</div>
											
											<div id="getByChoice" class="btn-group pull-right hide paddingright40"
												data-toggle="buttons">

												<label style="width: 100px;"
													onClick="javascript:tokenAnalysisVisualization.loadViewGroup('facet')"
													class="btn btn-default btn-sm active materialGroup"
													data-source="facet"> <input type="radio"
													name="checkbox-style" id="checkbox-style-1"
													value="switch-1"><i>Table</i>
												</label> <label
													onClick="tokenAnalysisVisualization.loadViewGroup('source')"
													class="btn btn-default btn-sm materialDist"
													data-source="source"> <input type="radio"
													name="checkbox-style" id="checkbox-style-2"
													value="switch-2"> <i>Field</i>
												</label>
												<!--  <label
													onClick="tokenAnalysisVisualization.loadViewType('materialdist')"
													class="btn btn-default btn-sm materialDist"
													data-source="materialdist"> <input type="radio"
													name="checkbox-style" id="checkbox-style-2"
													value="switch-2"> <i>Tabel.Field</i>
												</label> -->
											</div>
											<div id="getByType" class="btn-group pull-right hide paddingright40"
												data-toggle="buttons">
												<label style="width: 100px;"
													onClick="javascript:tokenAnalysisVisualization.loadViewType('1')"
													class="btn btn-default btn-sm materialGroup"
													data-source="1"> <input type="radio"
													name="checkbox-style" id="checkbox-style-1"
													value="switch-1"><i>Master</i>
												</label> <label
													onClick="tokenAnalysisVisualization.loadViewType('2')"
													class="btn btn-default btn-sm active materialDist"
													data-source="2"> <input type="radio"
													name="checkbox-style" id="checkbox-style-2"
													value="switch-2"> <i>Transaction</i>
												</label>
											</div>
											<!-- <div id="getByChoice"
												class="btn-group pull-right paddingright40"
												data-toggle="buttons">

												<label style="width: 100px;"
													onClick="materialDistribution.loadViewType('materialgroup')"
													class="btn btn-default btn-sm materialGroup"
													data-source="materialgroup"> <input type="radio"
													name="checkbox-style" id="checkbox-style-1"
													value="switch-1"><i>Distinct</i>
												</label> <label
													onClick="materialDistribution.loadViewType('materialdist')"
													class="btn btn-default btn-sm active materialDist"
													data-source="materialdist"> <input type="radio"
													name="checkbox-style" id="checkbox-style-2"
													value="switch-2"> <i>Sum</i>
												</label>
											</div> -->
										</div>
									</div>
									<!-- <div class="widget-body-toolbar bg-color-white row hide"
										id="rev-toggles-1">
										<div class="col-xs-6 col-sm-6">
											<span class="text" id="chatyType"> Material Group
												Filtered <span class="pull-right" id="chatvalue">130/200</span>
											</span>
											<div class="progress">
												<div class="progress-bar bg-color-blueDark"
													style="width: 65%;" id="chartPercentage"></div>
											</div>
										</div>

										<div class="col-lg-12 form-group no-padding-bottom">
											<input id="range-slider-1" type="text" name="range_1"
												value="">
										</div>
									</div> -->
									<div class="row hide" id="mainTokenDivId">
											<div class="col-md-3">
												<!-- Widget ID (each widget will need unique ID) -->
												<div class="jarviswidget jarviswidget-color-light "
													id="wid-id-12" data-widget-editbutton="false"
													data-widget-deletebutton="false"
													data-widget-fullscreenbutton="false"
													data-widget-sortable="false"
													data-widget-togglebutton="false">
													<header>
														<span class="widget-icon"><i
															class="fa fa-fw fa-bar-chart-o"> </i></span>
														<h2>Token Analytics</h2>
	
													</header>
	
													<!-- widget div -->
													<div>
	
														<!-- widget edit box -->
														<div class="jarviswidget-editbox">
															<!-- This area used as dropdown edit box -->
														</div>
														<!-- end widget edit box
	
														widget content -->
														<div class="widget-body">
															<div id="row-chart">
																<a class="reset"
																	href="javascript:poProfiling.horzBarChart.filterAll();dc.redrawAll();"
																	style="display: none;">reset</a>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-9">
												<!-- Widget ID (each widget will need unique ID) -->
	
												<div class="jarviswidget jarviswidget-color-light "
													id="wid-id-22" data-widget-editbutton="false"
													data-widget-deletebutton="false"
													data-widget-fullscreenbutton="false"
													data-widget-togglebutton="false">
													<header>
														<span class="widget-icon"><i
															class="fa fa-fw fa-bar-chart-o"> </i></span>
														<h2>Token Analytics</h2>
														<h2 class="pull-right">
	
															<div class="showAll"
																onClick="panZoomsvgObject.resetZoom();$(this).hide();">Reset
																Zoom</div>
															<div id="getByChoice" class="btn-group pull-right hide"
																data-toggle="buttons">
	<!-- 
																<label style="width: 100px;"
																	onClick="javascript:tokenAnalysisVisualization.loadViewType('facet')"
																	class="btn btn-default btn-sm active materialGroup"
																	data-source="facet"> <input type="radio"
																	name="checkbox-style" id="checkbox-style-1"
																	value="switch-1"><i>Master</i>
																</label> <label
																	onClick="tokenAnalysisVisualization.loadViewType('source')"
																	class="btn btn-default btn-sm materialDist"
																	data-source="source"> <input type="radio"
																	name="checkbox-style" id="checkbox-style-2"
																	value="switch-2"> <i>Trasaction</i>
																</label>
																 <label
														onClick="tokenAnalysisVisualization.loadViewType('materialdist')"
														class="btn btn-default btn-sm materialDist"
														data-source="materialdist"> <input type="radio"
														name="checkbox-style" id="checkbox-style-2"
														value="switch-2"> <i>Tabel.Field</i> -->
													</label>
															</div>
														</h2>
													</header>

										<div class="jarviswidget-editbox">
											<!-- This area used as dropdown edit box -->
											</div>
										<div class="widget-body">
											 <div id="bubble-chart-entity" class="col-md-12"
															align="center">
															<!-- <div class="axisLabel">Company Code</div>
															   <span class="reset" style="display: none;">range: <span class="filter"></span></span>
															<a class="reset"
																href="javascript:poProfiling.pieChartCompanyCode.filterAll();dc.redrawAll();"
																style="display: none;">reset</a>

															<div class="clearfix"></div> 
														</div>
														<div class="clearfix"></div> -->

											<div class="tab-pane fade active in " id="materialgroup">
												<div id="results" class="col-md-6"></div>
											</div>
											<div class="tab-pane fade  active in " id="material"></div>
											<!-- end widget content -->
										</div>
									</div>
									<!-- end widget div 

								</div>

								<!-- <div class="alert alert-info fade in">
										<button data-dismiss="alert" class="close">x</button>
										<i class="fa-fw fa fa-info"></i> <strong>Info!</strong>
										&nbsp;Analytics based on Top 100 Material Group on Order
										Quantity.
									</div> -->
							</div>
						</div>
					</div>
				</div>
		</article>
	</div>
</section>
<script src="js/plugin/ion-slider/ion.rangeSlider.min.js"></script>
<script src="js/TokenAnalysis/e2e_tokenAnalysis_diagram.js"></script>