<link rel="stylesheet" type="text/css" media="screen"
	href="css/codemirror.css">
<div class="row" id="selectSource">
	<div class="col-sm-12">
		<div class="col-sm-12">
			<h3>Select source for Analytics</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 100%;"></div>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="create">
			<div
				class="btn well well-sm bg-color-teal txt-color-white text-center width-100per">
				<h5>
					<i class="fa fa-fw fa-database"></i>Create Data Source
				</h5>
				<code> Table stored in PostgreSQL</code>
			</div>
		</div>
		<div class="col-sm-15 col-sm-3" data-source="saved">
			<div
				class="btn well well-sm bg-color-blueLight txt-color-white text-center width-100per">
				<h5>Saved Data Source</h5>
				<code>Profiles designed by me</code>
			</div>
		</div>
	</div>
</div>
<div class="row" id="myprofiles" style="display: none">
	<div class="col-sm-12">
		<div class="progress progress-micro">
			<div class="progress-bar progress-bar-primary" role="progressbar"
				style="width: 100%;"></div>
		</div>
	</div>
	  <div class="col-sm-12">
		<ul class="nav nav-tabs bordered profile-tabs">
			<li id="myProfileActive" class="active"><a href="#myprofilediv"
				id="myProfilediv" data-attr="myprofile" style="color: black"
				data-toggle="tab" aria-expanded="true">My Profiles<span
					class="badge bg-color-blue txt-color-white" name="myprofileCount">12</span></a></li>
			<li id="allProfileActive" class=""><a href="#allprofilediv"
				id="allProfilediv" data-attr="allprofile" data-toggle="tab"
				style="color: black" aria-expanded="false">All Profiles<span
					class="badge bg-color-blue txt-color-white" name="allprofileCount">12</span></a></li>
			<div class="col-sm-4 " style="padding-top: 2px; margin-left: 9%"
				id="selectedProfileName">
				<h4>
					<b></b>
				</h4>
			</div>
			<div class="col-sm-2 " id="appProfile"
				style="padding-top: 4px; margin-left: 10%">
				<!-- <i class=" "></i> <input type="text" name="appProfile"
					id="appProfile" style="width: 90%" /> -->
			</div>
			<div class=" pull-right "
				style="padding-top: 2px; padding-right: 1%;">
				<a class="btn btn-warning padding-left-20 padding "
					id="tableBack1" href="javascript:void(0);"
					title="Back to source selection"><i class="fa fa-mail-reply"></i>
					Back</a>
			</div>
		</ul>
		<div class="tab-content padding-10">
			<div class="well padding-10 active in" id="myprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">

						<table
							class='table table-striped table-bordered table-hover table-responsive'
							id='myProfileTable' style="overflow: auto; width: 100%;">
						</table>


						<!-- <div class="tree smart-form">
						<ul role="tree" id="myProfileList">
						</ul>
						</div> -->

					</div>
				</div>
			</div>
			<div class="well padding-10" id="allprofilediv">
				<!-- <h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Name</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Action</h5>
				<h5 class="margin-top-0 col-md-1">Source</h5>
				<h5 class="margin-top-0 col-md-1">Database</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2">Table</h5>
				<h5 class="margin-top-0 col-md-2 col-sm-2 col-xs-2 text-center">Created
					on</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">Status</h5>
				<h5 class="margin-top-0 col-md-1 col-sm-1 col-xs-1">History</h5> -->
				<div class="row">
					<div class="col-lg-12">
						<table id='allProfileTable'
							class='table table-striped table-bordered table-hover table-responsive'>
						</table>
						<!-- <div  class="tree smart-form">
						<ul role="tree" id="allProfileList">
						</ul>
					</div> -->


					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="createDataSource" style="display: none">
	<div class="row">
		<div class="col-sm-12">
			<h3>Select Source and Database</h3>
			<div class="progress progress-micro">
				<div class="progress-bar progress-bar-primary" role="progressbar"
					style="width: 44%;"></div>
			</div>
		</div>
		<div class="col-sm-4">
			<i class="icon-append fa fa-barcode"></i> <input type="text"
				name="source" id="source" style="width: 90%" />
		</div>
		<div class="col-sm-4">
			<i class="icon-append fa fa-barcode"></i> <input type="text"
				name="database" id="database" style="width: 90%" />
		</div>
		<div class="col-sm-4">
			<a class="btn btn-success" href="javascript:void(0);"
				id="excuteQuery"><i class="fa fa-save"></i>Excute</a>
			<a class="btn btn-primary" href="javascript:void(0);" id="saveProfile"><i
				class="fa fa-save"></i>Save</a>
			<a class="btn btn-warning padding-left-20" id="tableBack"
				href="javascript:void(0);" title="Back to source selection"><i
				class="fa fa-mail-reply"></i> Back</a>
		</div>
	</div>
	<div class="row margin-10">
		<div class="col-sm-10">
			<div>
				<textarea id="queryDataSource" style="width: 100px;"></textarea>
			</div>
		</div>
	</div>

</div>
<!--  <div id="myprofiles" style="display: none">
	<div class="well padding-10">
		<h5 class="margin-top-0 col-md-3">Name</h5>
		<h5 class="margin-top-0 col-md-3">Source</h5>
		<h5 class="margin-top-0 col-md-3">Database</h5>
		<h5 class="margin-top-0 col-md-3">Created on</h5>
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-group no-margin cursor-pointer" id="myProfileList">
				</ul>
			</div>
		</div>
	</div>

</div>-->



<div id="loading"></div>
<div class="modal fade" id="myModalsave" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog width-500">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Data Source Details</h4>
			</div>
			<form id="frmSaveDataSource" class="">
				<div class="modal-body no-padding">

					<div action="" id="smart-form-register" class="smart-form "
						novalidate="novalidate">
						<fieldset>
							<section>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="text" name="profilename" id="profilename"
									placeholder="Profile name"> <b
									class="tooltip tooltip-bottom-right">Needed to enter the
										Profile display name</b>
								</label>
							</section>
							<section>
								<label class="textarea"> <i
									class="icon-append fa fa-comment"></i> <textarea rows="4"
										name="description" id="description" placeholder="Description"></textarea>
									<b class="tooltip tooltip-bottom-right">Needed to enter the
										Description</b>
								</label>
							</section>
						</fieldset>
						<footer>
							<button type="button" class="btn btn-warning"
								data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button type="submit" class="btn btn-primary" id="btnCreate">Save</button>
						</footer>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script src="js/plugin/codemirror.js"></script>
<script src="js/plugin/sql.js"></script>
<script src="js/DataAnalyser/ProfileUtilty.js"></script>
<script src="js/DataAnalyser/dataSource.js"></script>