<table class="table table-striped table-hover table-bordered" id="tb">
	<tr bgcolor="#9acd32">
		<td>
			<h3>Entity:</h3>
			<label id="entity"></label>
		</td>
		<td>
			<h3>Criteria:</h3>
			<label id="criteria"></label>
		</td>
	</tr>
</table>

<table class="table table-striped table-hover table-bordered" id="tbDynamic">
	<tbody>
	</tbody>
	
</table>



